<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p>la liste de potin arrive en attendant viens crée un nouveau potin </p>
    <a href="/gossips/new/">Crée un nouveau potin</a>
    <% gossips.each do |gossip| %>
      <p>
        Auteur : <%= gossip.author %>
        Potin : <%= gossip.content %>
      </p>
    <% end %>
  </body>
</html>