<html>
  <head>
    <title>Potin N°<%= gossip.id %></title>
  </head>
  <body>
    <h1>Potin N°<%= gossip.id %></h1>
    <p>Auteur : <%= gossip.author %></p>
    <p>Contenu : <%= gossip.content %></p>
    <a href="/">Retour à la liste des potins</a>
  </body>
</html>
